body {
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.logo{
    height: 350px;
    width: 300px;
}
.center{
    
    display: block;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.inferior{
    position:absolute;
    bottom:0;
}