{% extends "base.html" %}

{% block head_content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/inicio.css' %}" />
<title>Bienvenido a Movilízate</title>
{% endblock%}


{% block container %}


    
        <div class="row h-100 justify-content-center align-items-bottom main">
            <div class="col-sm-12 col-md-5 col-lg-5 pt-2 pl-5 pr-5 pb-5" id="auth-container">

                <img src="{% static "img/logo.png" %}" class="img-fluid rounded mx-auto d-block pb-4" style="max-width: 60%;">

           

                <form  method="POST" action="">
                   
              
                 
                    <a href="ruta/" class="btn btn-primary btn-block mt-5 btn-lg">Buscar Hospitales!</a>
                    
                    
                </form>

            </div>
        </div>
    <script>
        var objDiv = document.getElementById("main");
        objDiv.scrollTop = objDiv.scrollHeight;
    </script>


{% endblock %}
